@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.ParentHeader{
  background-color: black;
  display: flex;
  width: 100%;
  height: 16vh;
  position: relative;
  justify-content: center;
}
.ChildHeader{
  background-color: red;
  height: 4.5vh;
  width: 100vw;
  padding-left: 30vw;
  font-weight: 650;
  animation: 3s flick infinite;
  text-transform: uppercase;
}
@keyframes flick{
  0%{
    color: gold;
  }
  20%{
    color: blue;
  }
  40%{
    color: blueviolet;
  }
  60%{
    color:yellow;
  }
  80%{
    color: darkcyan;
    ;
  }
  100%{
    color: #8a2be2;
  }
}
.ChildHeader span{
  color: #007bff; 
  text-shadow: 
    0 0 5px #007bff, 
    0 0 5px #007bff;
  -webkit-text-stroke: 0.5px white;
}

.Headercontent input{
  background-color: white;
  width: 36vw;
  color: black;
  padding-left: 2vw;
  height: 7vh;
  position: absolute;
  margin-top: 6.5vh;
  margin-left: -70vw;
}
.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 7vh;
  margin-top: 6.5vh;
  margin-left: -34vw;
}

.Headercontent h1{
  color: orangered;
  margin-top: -9.7vh;
  font-size: 4vw;
  height: 100px;
  width: 20vw;
  position: absolute;
  height: 13vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: -95vw;
}
.Headercontent span{
   font-size: 1vw;
   font-family: monospace;
}
.Headercontent .carticon{
  margin-left: -20vw;
  font-size: 3vw;
  margin-top: -10vh;
  position: absolute;
  color: white;
}

.Headercontent .mailicon{
  margin-left: -15vw;
  font-size: 3vw;
  margin-top: -6vh;
  position: absolute;
  color: red;
}

.Headercontent .whatsappicon{
  margin-left: -10vw;
  font-size: 3vw;
  position: absolute;
  margin-top: -6.8vh;
  color: greenyellow;
}


.Parentbanner{
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: center;
  align-content: center;
}


.Parentbanner .Childbanner{
  height: 4vh;
  width: 47%;
  display: flex;
  gap: 3vw;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1vh;
  margin-left: -2vw;
}
.Childbanner .home:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}


.Childbanner .sales:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}


.Childbanner .products:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}

.Childbanner .services:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}


.Childbanner .about:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}



.Childbanner .contact:hover{
  transition: 1s ease;
  transform: translateY(-5px);
  color: red;
}


.Parentbanner .posters{
  margin-top: 30px;
  width: 100%;
  height: 100vh;
  position: absolute;
}
.posters .bigbanner{
  width: 95vw;
  border-radius: 2vw;
  margin-left: 1.8vw;
  height:100vh;
  filter: blur(2px);
  filter: contrast(150%);
}


.Parentbanner2{
  display: flex;
  width: 100%;
  height: 45vh;
  position: relative;
  justify-content: center;
  align-content: center;
  margin-top: -20vh;
  flex-wrap: wrap;
}

.Parentbanner2 .textbox1{
  margin-left: -70vw;
  background-color: black;
  margin-top: -8vh;
  position: absolute;
  width: 20vw;
  color: white;
  padding-top: 1vh;
  border-radius: 0.5vw;
  padding-left: 0.8vw;
  font-size: 1vw;
  height: 5vh;
  font-weight: 600;
}
.textbox1 .box1{
  padding: 10px;
  width: 20vw;
  border-radius: 0.5vw;
  margin-left: -0.8vw;
  background-color: black;
}

.Parentbanner2 .textbox2{
  margin-left: -23.5vw;
  background-color: black;
  margin-top: -8vh;
  position: absolute;
  width: 20vw;
  color: white;
  padding-top: 1vh;
  border-radius: 0.5vw;
  padding-left: 0.8vw;
  font-size: 1vw;
  height: 5vh;
  font-weight: 600;
}
.textbox2 .box2{
  padding: 10px;
  width: 20vw;
  border-radius: 0.5vw;
  margin-left: -0.8vw;
  background-color: black;
}

.Parentbanner2 .textbox3{
  margin-left: 23.5vw;
  background-color: black;
  margin-top: -8vh;
  position: absolute;
  width: 20vw;
  color: white;
  padding-top: 1vh;
  border-radius: 0.5vw;
  padding-left: 0.8vw;
  font-size: 1vw;
  height: 5vh;
  font-weight: 600;
}
.textbox3 .box3{
  padding: 10px;
  width: 20vw;
  border-radius: 0.5vw;
  margin-left: -0.8vw;
  background-color: black;
}

.Parentbanner2 .textbox4{
  margin-left: 69.5vw;
  background-color: black;
  margin-top: -8vh;
  position: absolute;
  width: 20vw;
  color: white;
  padding-top: 1vh;
  border-radius: 0.5vw;
  padding-left: 0.8vw;
  font-size: 1vw;
  height: 5vh;
  font-weight: 600;
}
.textbox4 .box4{
  padding: 10px;
  width: 20vw;
  border-radius: 0.5vw;
  margin-left: -0.8vw;
  background-color: black;
}
.Parentitems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.Childitem1{
  width: 170px;
overflow: hidden;
border-radius: 10px;
margin: 15px;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
transition: 1s ease;
}
.Childitem1:hover{
transform:scale(1.15);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Childitem1 .img1{
  width: 100%;
  padding: 10px;
  height: 150px;
  cursor: context-menu;
}
.card1content{
  padding: 5px;
  cursor: context-menu;
}
.card1content p{
  font-size: 15px;
  margin-bottom: 2px;
}

.card1content .btn{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size:13px;
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 5px 5px 5px;
  transition: 0.5s ease;
}
.card1content .btn:hover{
  background-color: red;
}

.card1content h1{
  font-size: 20px;
  padding-top: 5px;
  color: rgb(255, 102, 0);
}
.card1content span{
  font-size: 13px;
  text-decoration: line-through;
  color:  gray;
}

.Parenthead{
  position: relative;
  width: 100%;
  justify-content: center;
  height: 31vh;
  display: flex;
}
.Childhead{
  width: 100%;
  height: 53vh;
  justify-content: center;
}

.Childhead p{
  margin-top: -8vh;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  border-bottom: 2px solid black;
  background-color : white;
  color: orangered;
  font-size:3vw;
  width: 100%;
  padding-left:4vw ;
  font-weight: 560;
}

.Childhead button{
color: red;
margin-top: 7vh;
box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
margin-left: 83.5vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}
.Parentdown{
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
  position: relative;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.Childdown{
  width: 580px;
overflow: hidden;
margin: 20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
transition: 1s ease;
}
.Childdown .video{
  width: 100%;
  filter: contrast(130%);
  height: 100%; 
  cursor: context-menu;
  transition: 0.3s ease;
  
}
.Childdown .video:hover{
   transform:scale(1.05);
   filter: contrast(180%) blur(2px);

}

.Childhead h1{
  margin-top: 8vh;
  font-size: 3vw;
  margin-left: 40vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  font-size: 1.3vw;
  margin-left: 40vw;
}

.Parentdown2{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
}
.Childdown2{
  overflow: hidden;
  width:320px;
  height: 450px;
  margin: 50px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 0.3s ease;
}

.Childdown2:hover{
  transform:scale(1.05);
  filter: contrast(130%) blur(1px);

}
.Childdown2 .imagesmall{
  width: 100%;
  height: 100%;
  cursor: context-menu;
}


.Parentbannerbot{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #000000, #323232);
  justify-content: center;
}
.Childbannerbot{
  overflow: hidden;
  width:100%;
  height:240px;
  justify-items: center;
  transition: 0.3s ease;
}

.Childbannerbot p{
  font-size: 16px;
  color: white;
  margin-top: 55px;
}

.Childbannerbot h1{
font-size: 3vw;
color: white;
}
.Childbannerbot span{
  color: orangered;
}
.Childbannerbot button{
  background-color: rgb(0, 99, 45);
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-size: 1.2vw;
  transition: 0.3s ease;
}
.Childbannerbot button:hover{
  transform: rotate(360deg);
}


.Parentcategories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top: 120px;
  padding-bottom: 17px;
}
.Childcategories{
  width: 150px;
  margin: 20px;
overflow: hidden;
transition: transform 0.3s ease-in-out;
}

.Childcategories:hover {
  animation: vipTransform 1s ease-in-out infinite;
  cursor: pointer;
}

@keyframes vipTransform {
  0% {
    transform: scale(1) rotate(0deg);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 255, 0, 0.5);
  }
  25% {
    transform: scale(1.1) rotate(10deg) translate(10px, -10px);
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.5), 0 0 40px rgba(0, 255, 255, 0.5);
  }
  50% {
    transform: scale(1.2) rotate(-10deg) translate(-10px, 10px);
    box-shadow: 0 0 25px rgba(0, 0, 255, 0.5), 0 0 50px rgba(255, 0, 255, 0.5);
  }
  75% {
    transform: scale(1.1) rotate(5deg) translate(5px, -5px);
    box-shadow: 0 0 30px rgba(255, 165, 0, 0.5), 0 0 60px rgba(255, 20, 147, 0.5);
  }
  100% {
    transform: scale(1) rotate(0deg) translate(0, 0);
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.5), 0 0 30px rgba(255, 255, 0, 0.5);
  }
}
.Childcategories .image2{
  width: 100%;
  height: 150px;
  border-radius: 100%;
  cursor: context-menu;
}
.Categorycontent{
  padding: 5px;
  cursor: context-menu;
}
.Categorycontent h2{
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-self: center;
}
.tophead h1{
  position: absolute;
  margin-top: -60px;
  font-size: 40px;
  margin-left: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 70vh;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.Footer{
  background-color: black;
  height: 30vh;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 50px;
  margin-top: 5vh;
  margin-left: 39.5vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 55px;
  margin-top: -8.9vh;
  margin-left: 45.5vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 50px;
  margin-top: -8.9vh;
  margin-left: 51.5vw;
}

.Footer .githubicon{
  color: green;
  font-size: 50px;
  margin-top: -8.3vh;
  margin-left: 57.5vw;
}

.newscontent{
  position: absolute;
  margin-top: 5vh;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent p{
  font-size: 12px;
  margin-left: 30px;
}
.newscontent input{
margin-top: 55px;
font-size: 10px;
width: 250px;
height: 31px;
padding-left: 10px;
color: black;
margin-left: 20px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 65px;
  border-radius: 10px;
  font-size: 15px;
  padding: 6px;
  margin-left: -30px;
  background-color: red;
}
.Footer ul{
  color:  white;
  display: flex;
  margin-top: 3vh;
  margin-left:34.5px;
  gap: 15px;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 5.3vh;
  width: 100%;
  padding-left: 37vw;
  height: 24px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 12px;
  padding-left: 44.2vw;
  height: 24px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}
@media (max-width:480px){
  .ChildHeader h1{
    font-size: 2vw;
    margin-left: -16vw;
    margin-top: 0.5vh;
  }
  .Headercontent h1{
    font-size: 40px;
    width: 30vw;
    margin-left: -97vw;
    margin-top: -45px;
    height: 100px;
  }
  .Headercontent span{
    font-size: 1.2vw;
    height: 50px;
    width: 10px;
    margin-left: -2vw;    
  }
  .ChildHeader{
    height: 20px;
  }
  .ParentHeader{
    height: 82px;
  }
  
.Headercontent input{
  background-color: white;
  width: 36vw;
  color: black;
  padding-left: 2vw;
  height: 35px;
  font-size: 8px;
  position: absolute;
  margin-top: 33px;
  margin-left: -70vw;
}

.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 35px;
  margin-top: 33px;
  margin-left: -34vw;
}
.Headercontent .carticon{
  margin-left: -25vw;
  font-size: 4vw;
  margin-top: -25px;
}

.Headercontent .mailicon{
  margin-left: -20vw;
  font-size: 5vw;
  margin-top: -27px;
}

.Headercontent .whatsappicon{
  margin-left: -14.5vw;
  font-size: 5vw;
  margin-top: -27px;
}


.Parentbanner .Childbanner{
  height: 20px;
  width: 60%;
  font-size: 1.8vw;
display: none;
  margin-top: 8px;
}

.posters .bigbanner{
  width: 95vw;
  margin-left: 2.4vw;
  height:380px;
  margin-top: -5px;
  
}
.Parentbanner{
  width: 100%;
  height: 500px;
  display: flex;
  margin-top: -20px;
  position: relative;  
}

.Parentbanner2{
  height: 110px;
  margin-top: -160px;
}
.Parentbanner2 .textbox1{
  margin-top: 1px;
}
.Parentbanner2 .textbox2{
  margin-top: 1px;
}
.Parentbanner2 .textbox3{
margin-top: 1px;
}
.Parentbanner2 .textbox4{
  margin-top: 1px;
}
.Parentbanner2 .box1{
  margin-left: -1vw;
  height: 150px;
}
.Parentbanner2 .box1 .box1img{
  height: 130px;
}

.Parentbanner2 .box2{
  height: 150px;
  
}
.Parentbanner2 .box2 .box2img{
  height: 130px;
}

.Parentbanner2 .box3{
  height: 150px;
  
}
.Parentbanner2 .box3 .box3img{
  height: 130px;
}

.Parentbanner2 .box4{
  height: 150px;
  
}
.Parentbanner2 .box4 .box4img{
  height: 130px;
}

.Parenthead{
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
}
.Childhead{
  width: 100%;
  height: 41%;
  justify-content: center;
}


.Childhead p{
  margin-top: -43.5px;
  font-size: 20px;
  height: 52px;
  width: 100%;
  padding-top: 11px;
  padding-left:14px ;
  font-weight: 560;

}

.Childhead button{
color: red;
font-size: 3vw;
margin-top: 55px;
margin-left: 69.5vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}


.Childhead h1{
  margin-top: 85px;
  font-size: 21vw;
  margin-left: 0vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  font-size: 3.5vw;
  margin-left: 23vw;
}

.Parentbannerbot{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #000000, #323232);
  justify-content: center;
}
.Childbannerbot{
  overflow: hidden;
  width:100%;
  height:180px;
  justify-items: center;
  transition: 0.3s ease;
}

.Childbannerbot p{
  font-size: 15px;
  color: white;
  margin-top: 55px;
}

.Childbannerbot h1{
font-size: 15px;
color: white;
}
.Childbannerbot span{
  color: orangered;
}
.Childbannerbot button{
  background-color: rgb(0, 99, 45);
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-size: 10px;
  transition: 0.3s ease;
}

.tophead h1{
  font-size: 20px;
  margin-left: -2px;
}
.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 350px;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.newscontent{
  position: absolute;
  margin-top: 30px;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent h1{
  font-size: 12px;
   margin-left: 45px;
}
.newscontent p{
  font-size: 10px;
  margin-left: 10px;
}
.newscontent input{
margin-top: 54px;
font-size: 10px;
width: 240px;
height: 30px;
padding-left: 10px;
color: black;
margin-left: 0px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 60px;
  border-radius: 10px;
  font-size: 11px;
  height: 31px;
  padding: 6px;
  margin-left: -63px;
  background-color: red;
}

.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Footer{
  background-color: black;
  height: 150px;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 24.5vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 35px;
  margin-top: -33px;
  margin-left: 37.5vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 30px;
  margin-top: -33px;
  margin-left: 53vw;
}

.Footer .githubicon{
  color: green;
  font-size: 30px;
  margin-top: -31px;
  margin-left: 68vw;
}

.Footer ul{
  color:  white;
  display: flex;
  margin-top: 30px;
  margin-left:20vw;
  gap: 3.5vw;
  font-size: 2vw;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 28px;
  width: 100%;
  padding-left: 15vw;
  height: 30px;
  padding-top: 10px;
  font-size: 3vw;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 2vw;
  padding-left: 37vw;
  height: 29px;
  padding-top: 5px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}

.Parentitems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}
.Childitem1{
  width: 40vw;
overflow: hidden;
border-radius: 10px;
margin: 15px;
box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
transition: 1s ease;
}
.Childitem1:hover{
transform:scale(1.15);
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.Childitem1 .img1{
  width: 100%;
  padding: 10px;
  height: 150px;
  cursor: context-menu;
}
.card1content{
  padding: 5px;
  cursor: context-menu;
}
.card1content p{
  font-size: 3vw;
  margin-bottom: 2px;
}

.card1content .btn{
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size:3vw;
  margin-top: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px 5px 5px 5px;
  transition: 0.5s ease;
}
.card1content .btn:hover{
  background-color: red;
}

.card1content h1{
  font-size: 4.5vw;
  padding-top: 5px;
  color: rgb(255, 102, 0);
}
.card1content span{
  font-size: 13px;
  text-decoration: line-through;
  color:  gray;
}
}

@media (min-width:481px) and (max-width:768px){
  .ChildHeader h1{
    font-size: 1.6vw;
    margin-left: -9vw;
    margin-top: 3px;
  }
  .Headercontent h1{
    font-size: 40px;
    width: 30vw;
    margin-left: -95vw;
    margin-top: -45px;
  }
  .Headercontent span{
    font-size: 1.5vw;
    margin-left: -1vw;    
  }
  .ChildHeader{
    height: 25px;
  }
  .ParentHeader{
    height: 82px;
  }
  
.Headercontent input{
  background-color: white;
  width: 36vw;
  color: black;
  padding-left: 2vw;
  height: 35px;
  font-size: 2vw;
  position: absolute;
  margin-top: 36px;
  margin-left: -70vw;
}

.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 35px;
  margin-top: 36px;
  margin-left: -34vw;
}
.Headercontent .carticon{
  margin-left: -25vw;
  font-size: 20px;
  width: 5vw;
  margin-top: -27px;
}

.Headercontent .mailicon{
  margin-left: -18.5vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}

.Headercontent .whatsappicon{
  margin-left: -12vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}


.Parentbanner .Childbanner{
  height: 20px;
  width: 60%;
  font-size: 1.8vw;
display: none;
  margin-top: 8px;
}

.posters .bigbanner{
  width: 95vw;
  margin-left: 1.8vw;
  height:380px;
}
.Parentbanner{
  width: 95%;
  height: 500px;
  margin-left: 0.8vw;
  margin-top: -20px;
  position: relative;  
}

.Parentbanner2{
  height: 110px;
  margin-top: -160px;
}
.Parentbanner2 .textbox1{
  margin-top: 1px;
}
.Parentbanner2 .textbox2{
  margin-top: 1px;
}
.Parentbanner2 .textbox3{
margin-top: 1px;
}
.Parentbanner2 .textbox4{
  margin-top: 1px;
}
.Parentbanner2 .box1{
  height: 150px;
}
.Parentbanner2 .box1 .box1img{
  height: 130px;
}

.Parentbanner2 .box2{
  height: 150px;
  
}
.Parentbanner2 .box2 .box2img{
  height: 130px;
}

.Parentbanner2 .box3{
  height: 150px;
  
}
.Parentbanner2 .box3 .box3img{
  height: 130px;
}

.Parentbanner2 .box4{
  height: 150px;
  
}
.Parentbanner2 .box4 .box4img{
  height: 130px;
}

.Parenthead{
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
}
.Childhead{
  width: 100%;
  height: 41%;
}

.Childhead p{
  margin-top: -43.5px;
  font-size: 20px;
  height: 52px;
  width: 100%;
  padding-top: 11px;
  padding-left:40px ;
  font-weight: 560;

}

.Childhead button{
color: red;
font-size: 2vw;
margin-top: 70px;
margin-left: 76.5vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}

.Childhead h1{
  margin-top: 95px;
  font-size: 7vw;
  margin-left: 34vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  margin-left: 31vw;
  font-size: 2.5vw;
}


.Parentbannerbot{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #000000, #323232);
  justify-content: center;
}
.Childbannerbot{
  overflow: hidden;
  width:100%;
  height:200px;
  justify-items: center;
  transition: 0.3s ease;
}

.Childbannerbot p{
  font-size: 15px;
  color: white;
  margin-top: 55px;
}

.Childbannerbot h1{
font-size: 20px;
color: white;
}
.Childbannerbot span{
  color: orangered;
}
.Childbannerbot button{
  background-color: rgb(0, 99, 45);
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-size: 10px;
  transition: 0.3s ease;
}

.tophead h1{
  font-size: 30px;
  margin-left: 35px;
}

.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 380px;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.newscontent{
  position: absolute;
  margin-top:30px;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent h1{
  font-size: 12px;
   margin-left: 60px;
}
.newscontent p{
  font-size: 10px;
  margin-left: 30px;
}
.newscontent input{
margin-top: 55px;
font-size: 10px;
width: 250px;
height: 30px;
padding-left: 10px;
color: black;
margin-left: 20px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 64px;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px;
  margin-left: -63px;
  background-color: red;
}

.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Footer{
  background-color: black;
  height: 150px;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 30px;
  margin-top: 30px;
  margin-left: 24.5vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 35px;
  margin-top: -33px;
  margin-left: 37.5vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 30px;
  margin-top: -33px;
  margin-left: 53vw;
}

.Footer .githubicon{
  color: green;
  font-size: 30px;
  margin-top: -31px;
  margin-left: 68vw;
}

.Footer ul{
  color:  white;
  display: flex;
  margin-top: 30px;
  margin-left:22vw;
  gap: 2.1vw;
  font-size: 2vw;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 20px;
  width: 100%;
  padding-left: 17vw;
  height: 60px;
  padding-top: 10px;
  font-size: 3vw;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 2vw;
  padding-left: 38vw;
  height: 29px;
  margin-top: -5px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}
}
@media (min-width:769px) and (max-width:1024px){
  .ChildHeader h1{
    font-size: 1.6vw;
    margin-left: -10vw;
    margin-top: 5px;
  }
  .Headercontent h1{
    font-size: 40px;
    width: 30vw;
    margin-left: -95vw;
    margin-top: -45px;
  }
  .Headercontent span{
    font-size: 1.5vw;
    margin-left: -1vw;    
  }
  .ChildHeader{
    height: 35px;
  }
  .ParentHeader{
    height: 102px;
  }
  
.Headercontent input{
  background-color: white;
  width: 36vw;
  color: black;
  padding-left: 2vw;
  height: 35px;
  font-size: 2vw;
  position: absolute;
  margin-top: 50px;
  margin-left: -70vw;
}

.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 35px;
  margin-top: 50px;
  margin-left: -34vw;
}
.Headercontent .carticon{
  margin-left: -25vw;
  font-size: 20px;
  width: 5vw;
  margin-top: -27px;
}

.Headercontent .mailicon{
  margin-left: -18.5vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}

.Headercontent .whatsappicon{
  margin-left: -12vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}.Parentbanner .Childbanner{
  height: 20px;
  width: 70%;
  z-index: 100;
  display: none;
  justify-content: center;
  margin-left: 4.5vw;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 550px;
}

.posters .bigbanner{
  width: 95vw;
  margin-top: 8px;
  margin-left: 1.8vw;
  height:380px;
}
.Parentbanner{
  width: 95%;
  height: 500px;
  margin-left: 0.8vw;
  margin-top: -30px;
  position: relative;  
}

.Parentbanner2{
  height: 180px;
  margin-top: -160px;
}
.Parentbanner2 .textbox1{
  margin-top: 1px;
}
.Parentbanner2 .textbox2{
  margin-top: 1px;
}
.Parentbanner2 .textbox3{
margin-top: 1px;
}
.Parentbanner2 .textbox4{
  margin-top: 1px;
}
.Parentbanner2 .box1{
  height: 150px;
}
.Parentbanner2 .box1 .box1img{
  height: 130px;
}

.Parentbanner2 .box2{
  height: 150px;
  
}
.Parentbanner2 .box2 .box2img{
  height: 130px;
}

.Parentbanner2 .box3{
  height: 150px;
  
}
.Parentbanner2 .box3 .box3img{
  height: 130px;
}

.Parentbanner2 .box4{
  height: 150px;
  
}
.Parentbanner2 .box4 .box4img{
  height: 130px;
}

.Parenthead{
  position: relative;
  width: 100%;
  height: 50%;
}
.Childhead{
  width: 100%;
  height: 41%;
}

.Childhead p{
  margin-top: -60.5px;
  font-size: 35px;
  height: 82px;
  width: 100%;
  padding-top: 12px;
  padding-left:40px ;
  font-weight: 560;

}

.Childhead button{
color: red;
font-size: 2vw;
margin-top: 120px;
margin-left: 76.5vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}

.Childhead h1{
  margin-top: 85px;
  font-size: 5vw;
  width: 24.7%;
  margin-left: 38vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  margin-left: 38vw;
  font-size: 1.5vw;
  width: 25%;
}

.Parentbannerbot{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #000000, #323232);
  justify-content: center;
}
.Childbannerbot{
  overflow: hidden;
  width:100%;
  height:220px;
  justify-items: center;
  transition: 0.3s ease;
}

.Childbannerbot p{
  font-size: 15px;
  color: white;
  margin-top: 55px;
}

.Childbannerbot h1{
font-size: 30px;
color: white;
}
.Childbannerbot span{
  color: orangered;
}
.Childbannerbot button{
  background-color: rgb(0, 99, 45);
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-size: 10px;
  transition: 0.3s ease;
}
.tophead h1{
  font-size: 30px;
}
.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 380px;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.newscontent{
  position: absolute;
  margin-top: 30px;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent h1{
  font-size: 2vw;
   margin-left: 110px;
}
.newscontent p{
  font-size: 2vw;
  margin-left: 30px;
}
.newscontent input{
margin-top: 55px;
font-size: 1.1vw;
width: 250px;
height: 30px;
padding-left: 10px;
color: black;
margin-left: 120px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 64px;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px;
  margin-left: -63px;
  background-color: red;
}

.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Footer{
  background-color: black;
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 50px;
  margin-top: 28px;
  margin-left: 27.5vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 55px;
  margin-top: -50px;
  margin-left: 40vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 53vw;
}

.Footer .githubicon{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 68vw;
}

.Footer ul{
  color:  white;
  display: flex;
  margin-top: 30px;
  margin-left:22vw;
  gap: 2.1vw;
  font-size: 2vw;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 20px;
  width: 100%;
  padding-left: 16vw;
  height: 60px;
  padding-top: 10px;
  font-size: 3vw;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 1.5vw;
  padding-left: 40vw;
  height: 55px;
  padding-top: 10px;
  margin-top: -5px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}
}
@media (min-width:1025px) and (max-width:1440px){
  .ChildHeader h1{
    font-size: 1.6vw;
    margin-left: -9vw;
    margin-top: 8px;
  }
  .Headercontent h1{
    font-size: 40px;
    width: 30vw;
    margin-left: -97vw;
    margin-top: -45px;
  }
  .Headercontent span{
    font-size: 1.5vw;
    margin-left: 0vw;    
  }
  .ChildHeader{
    height: 50px;
  }
  .ParentHeader{
    height: 132px;
  }
  
.Headercontent input{
  background-color: white;
  width: 42vw;
  color: black;
  padding-left: 2vw;
  height: 35px;
  font-size: 1.4vw;
  position: absolute;
  margin-top: 73px;
  margin-left: -74vw;
}

.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 35px;
  margin-top: 73px;
  margin-left: -32vw;
}
.Headercontent .carticon{
  margin-left: -25vw;
  font-size: 20px;
  width: 5vw;
  margin-top: -27px;
}

.Headercontent .mailicon{
  margin-left: -18.5vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}

.Headercontent .whatsappicon{
  margin-left: -12vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}
.Parentbanner .Childbanner{
  height: 20px;
  width: 70%;
  z-index: 100;
  justify-content: center;
  margin-left: 3vw;
  font-size: 1.5vw;
  display: none;
  font-weight: 600;
  margin-top: 550px;
}

.posters .bigbanner{
  width: 95vw;
  margin-top: 8px;
  margin-left: 1.8vw;
  height:380px;
}
.Parentbanner{
  width: 95%;
  height: 500px;
  margin-left: 0.8vw;
  margin-top: -30px;
  position: relative;  
}

.Parentbanner2{
  height: 180px;
  margin-top: -160px;
}
.Parentbanner2 .textbox1{
  margin-top: 1px;
}
.Parentbanner2 .textbox2{
  margin-top: 1px;
}
.Parentbanner2 .textbox3{
margin-top: 1px;
}
.Parentbanner2 .textbox4{
  margin-top: 1px;
}
.Parentbanner2 .box1{
  height: 150px;
}
.Parentbanner2 .box1 .box1img{
  height: 130px;
}

.Parentbanner2 .box2{
  height: 150px;
  
}
.Parentbanner2 .box2 .box2img{
  height: 130px;
}

.Parentbanner2 .box3{
  height: 150px;
  
}
.Parentbanner2 .box3 .box3img{
  height: 130px;
}

.Parentbanner2 .box4{
  height: 150px;
  
}
.Parentbanner2 .box4 .box4img{
  height: 130px;
}

.Parenthead{
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
}
.Childhead{
  width: 100%;
  height: 41%;
}
.Childhead p{
  margin-top: -67.5px;
  font-size: 35px;
  height: 82px;
  width: 100%;
  padding-top: 12px;
  padding-left:50px ;
  font-weight: 560;
}

.Childhead button{
color: red;
font-size: 2vw;
margin-top: 100px;
margin-left: 78vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}

.Childhead h1{
  margin-top: 85px;
  font-size: 5vw;
  width: 24.8vw;
  margin-left: 37vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  font-size: 1.5vw;
  width: 25vw;
  margin-left: 37vw;
}

.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 380px;
  width: 100vw;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.newscontent{
  position: absolute;
  margin-top: 30px;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent h1{
  font-size: 30px;
   margin-left: 30px;
}
.newscontent p{
  font-size: 15px;
  margin-left: 55px;
}
.newscontent input{
margin-top: 55px;
font-size: 10px;
width: 250px;
height: 30px;
padding-left: 10px;
color: black;
margin-left: 85px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 64px;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px;
  margin-left: -63px;
  background-color: red;
}

.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Footer{
  background-color: black;
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 50px;
  margin-top: 29px;
  margin-left: 29vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 55px;
  margin-top: -52px;
  margin-left: 40.5vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 52.5vw;
}

.Footer .githubicon{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 65vw;
}

.Footer ul{
  color:  white;
  display: flex;
  margin-top: 30px;
  margin-left:27.5vw;
  gap: 2.1vw;
  font-size: 1.5vw;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 20px;
  width: 100%;
  padding-left: 20vw;
  height: 60px;
  padding-top: 10px;
  font-size: 2.5vw;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 1.3vw;
  padding-left: 40vw;
  height: 55px;
  padding-top: 10px;
  margin-top: -5px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}
}
@media (min-width:1441px){
  .ChildHeader h1{
    font-size: 1.6vw;
    margin-left: -9vw;
    margin-top: 8px;
  }
  .Headercontent h1{
    font-size: 40px;
    width: 30vw;
    margin-left: -97vw;
    margin-top: -45px;
  }
  .Headercontent span{
    font-size: 1.5vw;
    margin-left: 0vw;    
  }
  .ChildHeader{
    height: 50px;
  }
  .ParentHeader{
    height: 132px;
  }
  
.Headercontent input{
  background-color: white;
  width: 42vw;
  color: black;
  padding-left: 2vw;
  height: 35px;
  font-size: 1.4vw;
  position: absolute;
  margin-top: 73px;
  margin-left: -74vw;
}

.Headercontent .searchicon{
  color: black;
  background-color: orangered;
  width: 5vw;
  height: 35px;
  margin-top: 73px;
  margin-left: -32vw;
}
.Headercontent .carticon{
  margin-left: -25vw;
  font-size: 20px;
  width: 5vw;
  margin-top: -27px;
}

.Headercontent .mailicon{
  margin-left: -18.5vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}

.Headercontent .whatsappicon{
  margin-left: -12vw;
  font-size: 30px;
  width: 5vw;
  margin-top: -31px;
}

.Parentbanner .Childbanner{
  height: 20px;
  width: 70%;
  z-index: 100;
  justify-content: center;
  margin-left: 4.5vw;
  display: none;
  font-size: 1.5vw;
  font-weight: 600;
  margin-top: 550px;
}

.posters .bigbanner{
  width: 95vw;
  margin-left: 1.8vw;
  height:380px;
  margin-top: 8px;
}
.Parentbanner{
  width: 95%;
  height: 500px;
  margin-left: 0.8vw;
  margin-top: -30px;
  position: relative;  
}

.Parentbanner2{
  height: 180px;
  margin-top: -160px;
}
.Parentbanner2 .textbox1{
  margin-top: 1px;
}
.Parentbanner2 .textbox2{
  margin-top: 1px;
}
.Parentbanner2 .textbox3{
margin-top: 1px;
}
.Parentbanner2 .textbox4{
  margin-top: 1px;
}
.Parentbanner2 .box1{
  height: 150px;
}
.Parentbanner2 .box1 .box1img{
  height: 130px;
}

.Parentbanner2 .box2{
  height: 150px;
  
}
.Parentbanner2 .box2 .box2img{
  height: 130px;
}

.Parentbanner2 .box3{
  height: 150px;
  
}
.Parentbanner2 .box3 .box3img{
  height: 130px;
}

.Parentbanner2 .box4{
  height: 150px;
  
}
.Parentbanner2 .box4 .box4img{
  height: 130px;
}

.Parenthead{
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
}
.Childhead{
  width: 100%;
  height: 41%;
}
.Childhead p{
  margin-top: -67.5px;
  font-size: 35px;
  height: 82px;
  width: 100%;
  padding-top: 12px;
  padding-left:50px ;
  font-weight: 560;

}

.Childhead button{
color: red;
font-size: 2vw;
margin-top: 100px;
margin-left: 78vw;
border: 2px solid orangered;
padding: 5px 5px 5px 5px;
}

.Childhead h1{
  margin-top: 85px;
  font-size: 5vw;
  width: 24.8vw;
  margin-left: 37vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Childhead h3{
  font-size: 1.5vw;
  width: 25vw;
  margin-left: 37vw;
}

.Parentbannerbot{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  background: linear-gradient(to top, #000000, #323232);
  justify-content: center;
}
.Childbannerbot{
  overflow: hidden;
  width:100%;
  height:260px;
  justify-items: center;
  transition: 0.3s ease;
}

.Childbannerbot p{
  font-size: 20px;
  color: white;
  margin-top: 55px;
}

.Childbannerbot h1{
font-size: 50px;
color: white;
}
.Childbannerbot span{
  color: orangered;
}
.Childbannerbot button{
  background-color: rgb(0, 99, 45);
  padding: 7px;
  margin-top: 10px;
  color: white;
  font-size: 10px;
  transition: 0.3s ease;
}

.Childnews{
  width: 100%;
  height: 100%;
}
.Childnews .imgnews{
  height: 380px;
  width: 100vw;
  border-radius: 40%;
  filter: blur(2px);
  z-index: 1;
}
.newscontent{
  position: absolute;
  margin-top: 30px;
  color: white;
  font-size: 2vw;
  z-index: 10;
}
.newscontent h1{
  font-size: 30px;
   margin-left: 50px;
}
.newscontent p{
  font-size: 15px;
  margin-left: 75px;
}
.newscontent input{
margin-top: 55px;
font-size: 10px;
width: 250px;
height: 30px;
padding-left: 10px;
color: black;
margin-left: 105px;
border-radius: 10px;
}
.newscontent button{
  margin-top: 64px;
  border-radius: 10px;
  font-size: 12px;
  padding: 6px;
  margin-left: -63px;
  background-color: red;
}

.Parentfooter{
  display: flex;
  width: 100%;
  position: relative;
  height: 100%;
  margin-top: 100px;
  justify-content: center;
}
.Footer{
  background-color: black;
  height: 200px;
  position: absolute;
  width: 100%;
  margin-top: -162px;
  justify-content: center;
  z-index: 2;
}
.Footer .facebookicon1{
  color: green;
  font-size: 50px;
  margin-top: 28px;
  margin-left: 29vw;
}

.Footer .linkedinicon{
  color: green;
  font-size: 55px;
  margin-top: -50px;
  margin-left: 40.5vw;
}

.Footer .whatsappicon1{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 52.5vw;
}

.Footer .githubicon{
  color: green;
  font-size: 50px;
  margin-top: -50px;
  margin-left: 65vw;
}

.Footer ul{
  color:  white;
  display: flex;
  margin-top: 30px;
  margin-left:27.5vw;
  gap: 2.1vw;
  font-size: 1.5vw;
  font-weight: 600;
}
.Footer h3{
  color: white;
  margin-top: 20px;
  width: 100%;
  padding-left: 20vw;
  height: 60px;
  padding-top: 10px;
  font-size: 2.5vw;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}

.Footer h4{
  color: white;
  width: 100%;
  font-size: 1.3vw;
  padding-left: 40vw;
  height: 55px;
  padding-top: 10px;
  margin-top: -5px;
  justify-self: center;
  font-weight: 600;
  background-color: green;
}
.Footer h3 span{
  color: red;
}
}
